* {
	box-sizing: border-box;
}

body { 
	background-image: linear-gradient(to
						top, #999999, #F1F1F1);
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	padding: 50px;
	margin: 30px;
}

header { 
	text-align: center;
	font-family: 'Moon Flower Bold', Helvetica, sans-serif;
	font-size: 300%;
}

main {	
	display: block;
	background-color: #FFFFFF;
	padding: 30px;
}

nav {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
}

nav a { 
	text-decoration: none;
}
nav a:link {
	color: #D86641;
}
nav a:visited { 
	color: #E0876A;
}
nav a:hover { 
	color: #FBEFCC;
}

footer a {
	text-decoration: none;
}

footer a:link {
	color: #D86641;
}

h1 {
	font-style: bold;
	color: #666666;
	height: 150%;
}

h2 { 
	color: #666666;
	font-size: 200%;
}

dt { 
	color: #D86641;
	font-weight: bold;
	 
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 20px;
  background-color: #D86641;
  color: #FFFFFF;
}

table, th, td {
  border-width: 0px;
  border-style: solid;
  border-color: #D86641;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #F7DDD4;}

footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	background-color: #FFFFFF;
	padding: 15px;
	margin: 15px;
}

#wrapper {
	background-color: #FFFFFF;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

div.comicgallery {
	display: block;
	margin: 5px;
	float: left;
	width: 325px;
	background-color: #FFFFFF;
}

div.comicgallery:hover {
	border: 1px solid #999999;
}

div.comicgallery img {
	width: 100%;
	height: auto;
}

div.homepagegallery {
	display: block;
	margin: 5px;
	float: left;
	width: 325px;
	background-color: #FFFFFF;
}

div.homepagegalleryallery:hover {
	border: 1px solid #999999;
}

div.homepagegallery img {
	width: 100%;
	height: auto;
}

p img {
	float: right;
	margin: 15px;
}

.contact {
	text-align: center;
	font-size: 125%;
}

.contact a {
	text-decoration: none;
}

.contact a:link {
	color: #D86641;
}

.blurb {
	color: #D86641;
	font-family: 'Moon Flower Bold', Arial, sans-serif;
	font-size: 375%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@font-face {
	font-family: 'Moon Flower';
	src: url('fonts/Moon Flower.ttf');
	src: local('Moon Flower'), 
		 local('Moon Flower Bold'), 
		 url('fonts/Moon Flower.ttf') 
		 format('truetype');
}

@media only screen and (max-width: 750px) {
  .responsive {
	width: 50%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}