* { box-sizing: border-box;
}

body { background-image: linear-gradient(to
			  top, #999999, #F1F1F1);
	   color: #666666;
	   font-family: Arial, Helvetica, sans-serif;
	   padding: 50px;
	   margin: 30px;
}

header { text-align: center;
		 font-family: Moon Flower, Helvetica, sans-serif;
		 font-size: 300%;
}

main {	display: block;
		background-color: #FFFFFF;
		padding: 30px;
}

nav { background-color: #FFFFFF;
	  font-weight: bold;
	  font-size: 120%;
}

nav a { text-decoration: none;
}
nav a:link { color: #D86641;
}
nav a:visited { color: #E0876A;
}
nav a:hover { color: #FBEFCC;
}

footer a { text-decoration: none;
}

footer a:link { color: #D86641;
}

h1 { font-style: bold;
	 color: #666666;
	 height: 150%;
}

h2 { color: #666666;
}

dt { color: #D86641;
	 font-weight: bold;
	 
}

main ul { list-style-image: url;
}

footer { font-size: 75%;
		 font-style: italic;
		 text-align: center;
		 background-color: #FFFFFF;
		 padding: 15px;
		 margin: 15px;
}

#wrapper { background-color: #FFFFFF;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

table-border { color: #FFFFFF;
}

div.comicgallery {
  margin: 20px;
  border: 1px solid #F1F1F1;
  float: left;
  width: 200px;
  background-color: #FFFFFF;
}

div.comicgallery:hover {
  border: 1px solid #999999;
}

div.comicgallery img {
  width: 100%;
  height: auto;
}

div.homepagegallery {
  margin: 20px;
  border: 1px solid #F1F1F1;
  float: left;
  width: 475px;
  background-color: #FFFFFF;
}

div.homepagegalleryallery:hover {
  border: 1px solid #999999;
}

div.homepagegallery img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 750px) {
  .responsive {
    width: 50%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}